@model kidsChart2.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDaily)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDaily)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecificDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecificDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
