@model IEnumerable<kidsChart2.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<h2>Список дел</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IconPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDaily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.IconPath" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDaily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
