@model DayActions

@{
    ViewData["Title"] = "Aleks's Chart";
}

<th></th>
<img src="~/images/alex.jpg" width="100" />

<table width="100%">
    <tr>
        <td valign="top" align="left">
            <table class="table">
                <tbody>
                    @foreach (var item in Model.HistoryItems)
                    {
                        <tr>
                            <td>
                                @if (!item.Item.IsGood)
                                {
                                    <img src="@item.Item.IconPath" width="50" />
                                }
                                else
                                {
                                    <img src="@item.Item.IconPath" width="70" />
                                }

                                <p>@item.Item.Weight <img src="~/images/star.png" width="30"/></p>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.Name)
                                <br/>
                                @Html.DisplayFor(modelItem => item.Item.DueBy)
                            </td>
                            <td>

                                @if (item.IsDone)
                                {
                                    <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                                        <img src="~/images/BlackGlass.jpg" width="50" height="50">
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                                        <img src="~/images/sad.jpg" width="50" height="50">
                                    </a>
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.HistoryItemId">...</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

            <!-- Routines history -->
            <table style="font-size: 10px;">
                <tbody>
                    @foreach (var routine in Model.RoutinesHistory)
                    {
                    <tr>
                        <td>@routine.RoutineName</td>
                        <td style="width:30px;"></td>
                        @foreach (var historyDay in routine.History)
                        {

                            @if (historyDay)
                            {
                                <td style="width:10px; border:solid; border-color:lightgray; border-width: 1px; background-color: lawngreen;"></td>
                            }
                            else
                            {
                                <td style="width:10px; border: solid; border-color: lightgray; border-width: 1px; background-color: crimson;"></td>
                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>

        </td>
        <td width="50"><br/></td>
        <td valign="top" align="right">
            <table class="table-condensed">
                @foreach (var itemGroup in Model.OneDayItemsGroups)
                {
                    <tr>
                        <td valign="middle">

                            @if (@itemGroup.Key.Weight >= 0)
                            {
                                <p>@(@itemGroup.Key.Weight * @itemGroup.Value) <img src="~/images/greenStar.jpg" width="30" /></p>
                            }
                            else
                            {
                                <p>@(@itemGroup.Key.Weight * @itemGroup.Value) <img src="~/images/redStar.png" width="30" /></p>
                            }
                        </td>
                        <td align="center">
                            @if (!itemGroup.Key.IsGood)
                            {
                                <img src="@itemGroup.Key.IconPath" width="@(40 + @itemGroup.Value * 10)" />
                            }
                            else
                            {
                                <img src="@itemGroup.Key.IconPath" width="@(70 + @itemGroup.Value * 30)" />
                            }
                        </td>
                    </tr>
                }
            </table>

            <p style="font-size:10pt; padding-top:30pt;">
                Накоплено:
                @if (@Model.BalanceStars >= 0)
                {
                    @Model.BalanceStars <img src="~/images/greenStar.jpg" width="30" />
                }
                else
                {
                    @Model.BalanceStars <img src="~/images/redStar.png" width="30" />
                }
            </p>
            <p style="font-size:10pt; padding-top:10pt;">
                За сегодня:
                @if (@Model.TodayStars >= 0)
                {
                    @Model.TodayStars <img src="~/images/greenStar.jpg" width="30" />
                }
                else
                {
                    @Model.TodayStars <img src="~/images/redStar.png" width="30" />
                }
            </p>
            <p style="font-size:20pt; padding-top:10pt;">
                <img src="~/images/piggyBank.jpg" width="100" />
                @if (@Model.TodayStars + @Model.BalanceStars >= 0)
                {
                    @(@Model.TodayStars + @Model.BalanceStars) <img src="~/images/greenStar.jpg" width="30" />
                }
                else
                {
                    @(@Model.TodayStars + @Model.BalanceStars) <img src="~/images/redStar.png" width="30" />
                }
            </p>
            
                
            <div style="float:right; padding-top:50px;">
                @foreach (var reward in Model.Rewards)
                {
                    <a asp-action="UseReward" asp-route-id="@reward.RewardId">
                        <div style="float:left; text-align:center; padding:10px;">
                            <img src="@reward.IconPath" height="50" />
                            <p style="font-size:10pt; padding-top:10pt;">@reward.Cost <img src="~/images/greenStar.jpg" width="30" /></p>
                        </div>
                    </a>
                }
             </div>
         </td>
    </tr>
</table>


<table align="right" cellpadding="50">
    <tbody>
        <tr>
            @foreach (var oneTimeItem in Model.OneTimeItems)
            {
            <td style="text-align:center">

                <a asp-action="AddOneTime" asp-route-id="@oneTimeItem.ItemId">
                    <img src="@oneTimeItem.IconPath" width="30" style="margin:20px" />
                </a>
                @if (@oneTimeItem.Weight >= 0)
                {
                    <div>@oneTimeItem.Weight <img src="~/images/greenStar.jpg" width="15" /></div>
                }
                else
                {
                    <div>@oneTimeItem.Weight <img src="~/images/redStar.png" width="15" /></div>
                }
            </td>
            }
            </tr>
    </tbody>
</table>
