@model DayActions

@{
    ViewData["Title"] = "Aleks's Chart";
}
<div style="text-align:left">
    <img src="~/images/Transparent_Merry_Christmas_Decor_PNG_Clipart.png" height="100" style="margin-right:50px" />
    <img src="~/images/Christmas-Ornament-05.jpg" height="100" />
</div>
@*<div style="text-align:left">
    <img src="~/images/christmas-tree.png" height="80" />
</div>*@

<div style="float:left; padding-right:50px; padding-top:10px">
    <img src="~/images/alex.jpg" width="100" />
    @*<p>
            <img src="~/images/piggyBank.jpg" width="100" />
        </p>*@
    <p style="font-size:20pt; padding-top:10pt;">

        @if (@Model.TodayStars + @Model.BalanceStars >= 0)
        {
            @(@Model.TodayStars + @Model.BalanceStars) <img src="~/images/greenStar.jpg" width="30" /> <span style="font-size:10pt">@Model.BalanceStars/@Model.TodayStars</span>
        }
        else
        {
            @(@Model.TodayStars + @Model.BalanceStars) <img src="~/images/redStar.png" width="30" /><span style="font-size:10pt">@Model.BalanceStars/@Model.TodayStars</span>
        }
    </p>

    <div>Запреты</div>
    @foreach (var item in Model.TimeRangeAssignments)
    {
    <div>
        <img src="@item.Icon" width="100" />
        <div style="text-align:center">@item.StartDate.Month/@item.StartDate.Day - @item.EndDate.Month/@item.EndDate.Day</div>
    </div>
    }
</div>

<table style="padding-top:20px;">
    <tr>
        <td valign="top" align="left" style="width:70%">
            <table class="table">
                <tbody>
                    @foreach (var item in Model.HistoryItems)
                    {
                    <tr>
                        <td>
                            <div style="float:left">
                                <!--Edit link-->
                                <a asp-action="Edit" asp-route-id="@item.HistoryItemId">
                                    <img src="@item.Item.IconPath" width="50" />
                                    
                                </a>
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.DisplayFor(modelItem => item.Item.Name) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div>
                                <div style="float:left; font-size: 10px;">@item.Item.Weight / @item.Item.NegativeWeight <img src="~/images/star.png" width="15" /></div>
                                <div style="float:right">
                                    <table style="font-size: 8px;">
                                        <tbody>
                                            @foreach (var routine in Model.RoutinesHistory)
                                            {
                                                @if (routine.RoutineId == @item.Item.ItemId)
                                                {
                                                    <tr>
                                                        @*<td> @item.Item.Weight <img src="~/images/star.png" width="15" /></td>*@
                                                        @*<td style="width:30px;"></td>*@
                                                        @foreach (var historyDay in routine.History)
                                                        {

                                                            @if (historyDay.IsDone)
                                                            {
                                                                <td style="width:10px; border:solid; border-color:white; border-width: 1px;">
                                                                    <a asp-action="Done" asp-route-id="@historyDay.HistoryItemId"><img height="10" width="10" src="~/images/greenSquare.png"></a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width:10px; border: solid; border-color: white; border-width: 1px;">
                                                                    <a asp-action="Done" asp-route-id="@historyDay.HistoryItemId"><img height="10" width="10" src="~/images/redSquare.png"></a>
                                                                </td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <td>
                            @if (item.IsDone)
                            {
                                <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                                    <img src="~/images/BlackGlass.jpg" width="35" height="35">
                                </a>
                            }
                            else
                            {
                                <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                                    <img src="~/images/sad.jpg" width="35" height="35">
                                </a>
                            }

                        <td></td>
                    </tr>
                    }


                </tbody>
            </table>
        </td>
        <td valign="top" align="right">

            @foreach (var itemGroup in Model.OneDayItemsGroups)
            {
                <div style="float:left;">
                    <table class="table-condensed">
                        <tr>
                            <td valign="middle">

                                @if (@itemGroup.Key.Weight >= 0)
                                {
                                    <p>@(@itemGroup.Key.Weight * @itemGroup.Value) <img src="~/images/greenStar.jpg" width="30" /></p>
                                }
                                else
                                {
                                    <p>@(@itemGroup.Key.Weight * @itemGroup.Value) <img src="~/images/redStar.png" width="30" /></p>
                                }
                            </td>
                            <td align="center">
                                @if (!itemGroup.Key.IsGood)
                                {
                                    <img src="@itemGroup.Key.IconPath" width="@(40 + @itemGroup.Value * 10)" />
                                }
                                else
                                {
                                    <img src="@itemGroup.Key.IconPath" width="@(70 + @itemGroup.Value * 30)" />
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </td>
    </tr>
</table>


<!--Rewards -->
<table>
    <tbody>
    <tr>
    <td>
    @foreach (var reward in Model.Rewards)
    {
        <div style="float:left; text-align:center; padding:10px;">
            <a asp-action="UseReward" asp-route-id="@reward.RewardId">
                <img src="@reward.IconPath" height="40" />
                <p style="font-size:10pt; padding-top:10pt;">@reward.Cost <img src="~/images/greenStar.jpg" width="30" /></p>
            </a>
        </div>

    }
    </td>
    </tr>
    </tbody>
</table>



<!-- Action items -->
@foreach (var oneTimeItem in Model.OneTimeItems)
{
<div style="float:right; text-align:center; padding:10px;">

    <a asp-action="AddOneTime" asp-route-id="@oneTimeItem.ItemId">
        <img src="@oneTimeItem.IconPath" width="30" style="margin:20px" />
    </a>
    @if (@oneTimeItem.Weight >= 0)
    {
        <div>@oneTimeItem.Weight <img src="~/images/greenStar.jpg" width="15" /></div>
    }
    else
    {
        <div>@oneTimeItem.Weight <img src="~/images/redStar.png" width="15" /></div>
    }
    </div>
}
