@model DayActions

@{
    ViewData["Title"] = "Aleks's Chart";
}

<th></th>
<img src="~/images/alex.jpg" width="100" />

<table class="table">
    @*<thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.HistoryItems..Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.DueBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model.HistoryItems)
        {
        <tr>
            <td>
                @if (!item.Item.IsGood)
                {
                    <img src="@item.Item.IconPath" width="50" />
                }
                else
                {
                    <img src="@item.Item.IconPath" width="70" />

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.DueBy)
            </td>
            <td>
                @if (!item.Item.IsOneTime)
                {
                    @if (item.IsDone)
                    {
                        <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                            <img src="~/images/BlackGlass.jpg" width="50" height="50">
                        </a>
                    }
                    else
                    {
                        <a asp-action="Done" asp-route-id="@item.HistoryItemId">
                            <img src="~/images/sad.jpg" width="50" height="50">
                        </a>
                    }
                }
                else
                {
                    @if (item.Item.IsGood)
                    {
                        <img src="~/images/thumbsUp.jpg" width="50">
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistoryItemId">...</a>
            </td>
        </tr>
        }
    </tbody>
</table>


    <table align="right" cellpadding="50" class="table">
        <tbody>
            <tr>
                <td style="text-align:right">
                    @foreach (var oneTimeItem in Model.OneTimeItems)
                    {
                        <a asp-action="AddOneTime" asp-route-id="@oneTimeItem.ItemId">
                            <img src="@oneTimeItem.IconPath" width="50" style="margin:20px" />
                        </a>
                    }
            </tr>
            </td>
        </tbody>
    </table>
